{% extends "base.html" %}
{% block title %}Idea - {{i.title}}{% endblock %}
{% block content %}

<!-- <div>
  <div class="row">
    <div class="col-md-8 blog-main">

    </div>
    <aside class="col-md-4 blog-sidebar">

    </aside>

  </div> -->
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="card">
          <div class="card-body">
              <h2><a class='card-title'><p class="text-dark">{{i.title}}</p></a></h2> 
              <img align="center" src="{{url_for('static',filename='idea_pics/'+i.image)}}">
              <!-- <button type="button" class="btn btn-outline-warning">Need {{needed}} more people</button> -->
              <!-- <p>Published on: {{i.date.strftime('%Y-%m-%d')}}</p> -->
                <p class="card-text" style="white-space: pre-wrap">{{ i.text }}</p>
              
          </div>
        </div>

        <div class="modal" tabindex="-1" id="del_modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete your idea?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure that you want to delete your idea?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <!-- <button type="button" class="btn btn-danger">Delete</button> -->
                  <form action="{{url_for('ideas.delete_idea',idea_id=i.id)}}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>
  </div>
  <aside class="col-md-4 blog-sidebar">
    <p>There are {{ i.likes.count() }} people joined out of {{ i.target }} needed. </p>
    <div class="progress" style="height: 20px;">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="{{ i.likes.count() }}" aria-valuemin="0" aria-valuemax="{{ i.target }}">{{ i.likes.count() }}/{{ i.target }}</div>
    </div>
    <br>

    <!-- Currently, there are {{ i.likes.count() }} people, who want to participate in this project <br> -->
    {% if current_user.is_authenticated %}   
      {% if current_user.has_liked_idea(i) %}
      <a class="btn btn-warning" href="{{ url_for('ideas.like_action', idea_id=i.id, action='unlike') }}">Leave {{ i.likes.count() }} people</a>
      {% else %}
      <a class="btn btn-success" href="{{ url_for('ideas.like_action', idea_id=i.id, action='like') }}">Join {{ i.likes.count() }} people!</a>
      {% endif %}
    {% endif %}
      <a href="{{url_for('users.user_ideas',username=i.author.username)}}">Created By {{i.author.username}}</a> on {{i.date.strftime('%B %d, %Y')}}
    {% if current_user.is_authenticated %}
      {% if i.author == current_user %}
      <div>
        <a href="{{url_for('ideas.update',idea_id=i.id)}}">Update</a>
        <button type="button" class="btn btn-danger" data-toggle='modal' data-target="#del_modal">Delete</button>
      </div>
      {% endif %}
    {% endif %}
  </aside>
  </div>
{% endblock %}