{% extends "base.html" %}
{% block title %}Idea - about us{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>This is a beta-version of the website, which allows members of communities to share ideas between them. It features:</h2>
        <ul>
            <li>Registration, Login/Logout</li>
            <li>Updating user profile</li>
            <li>Posts' (ideas) creation</li>
            <li>Setting the needed amount of people to join for project to launch</li>
            <li>Posts updating</li>
            <li>Posts upvoting ('joining')</li>
            <li>On the main page, posts are sorted by the number of "Upvotes"</li>
            <li>Adding a picture to the post or keeping the default option</li>
            <li>Title search</li>
            <li>More capabilities and views for authorized users</li>
        </ul>
    </div>
{% endblock %}